.home-banner{
    /* background-color: rgb(175, 175, 175); */
    height: auto;
    position: relative;
    margin-top: 75px;
    display: flex;
    
}

.banner-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}
.event-profile{
    /* background-color: rgb(153, 153, 153); */
      /* width: 45%; */
      height: auto;
      position: absolute;
      color: white;
      position: absolute;
    
      bottom: 0;
      left: 0;
      margin-bottom: 2%;
      margin-left: 2%;
      display: flex;
      flex-direction: column;
      gap: 32px;
  

   
}
.banner-overlay {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.07%, #000 100%), url(<path-to-image>), lightgray 50% / cover no-repeat, #D9D9D9;
  }
  .profile-image {
      width: 176px;
      height: 176px;
      border-radius: 20px;
      border: 2px solid #DEDEDE;
      /* background: rgba(0, 0, 0, 0.85); */
  }
  .profile-name{
    margin-top: 32px;
  }
  .profile-date-location{
    display: flex;
    flex-direction: row;
   gap: 16px;
  }
  .calender-icon,.location-icon{
    vertical-align: middle;
    margin-right: 6px;
  }
  .profile-icon-text{
    display: flex;
    flex-direction: row;
  }
  .profile-date{
    vertical-align: middle;
    margin-top: 2px;
  }
  .profile-location{
    margin-top: 2px;
  }
  .about-gallery{
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .about-section{
    width: 50%;
    /* background-color: #b6b6b6; */
    background: var(--White, #FFF);
   
  }
  .gallery-section{
    width: 50%;
    /* background-color: #999999; */
    background: var(--White, #FFF);
  }

  .artist-and-teams{
    /* background-color: #c8c8c8; */
    background: var(--White, #FFF);
    height: max-content;
    display: flex;
    flex-direction: column;
    color: #000;
    padding: 24px 24px;
    margin-top: 24px;
  }
.artist-title-and-info{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
 
}
.artist-or-teams{
  color: var(--gray-700, #344054);

font-size: 20px;
font-style: normal;
font-weight: 600;
}
.artist-info{
  border-radius: 6px;
  background: var(--success-50, #ECFDF3);
  color: var(--success-700, #027A48);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; 

  display: flex;
padding: 2px 8px;
align-items: center;
gap: 8px;
width:fit-content;
}
.info-content{
  color: var(--success-700, #027A48);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px;


}
.artist-profile-container{
  display: flex;

  flex-wrap: wrap;
gap: 12px;
 
}



  @media screen and (min-width: 0px) and (max-width: 850px) {
    .about-gallery{
       
        display: flex;
        flex-direction: column;
     
    }
    .about-section{
      width: 100%;
     
    }
    .gallery-section{
      width: 100%;
  
    }
  }
  @media screen and (min-width: 0px) and (max-width: 1500px) {
    .artist-profile-container{
    
    
    justify-content: center;
     
    }
  }

  @media screen and (min-width: 890px) and (max-width: 990px) {
    .event-profile{
     
        height: 75%;
       
    
  
     
  }
 
  .profile-image {
      width: 100px;
      height: 100px;
     
  }
  }
  @media screen and (min-width: 840px) and (max-width: 890px) {
    .event-profile{
     
        height: auto;
        width: auto;
       
    gap: 32px;
   
  
     
  }
 
  .profile-image {
      width: 100px;
      height: 106px;
     
  }
  }
    @media screen and (min-width: 615px) and (max-width: 840px) {
      .event-profile {
        height: auto;
        width: auto;
        gap: 10px;
      }
  
      .profile-image {
        width: 80px;
        height: 80px;
      }
    }
    @media screen and (min-width: 0px) and (max-width: 840px) {
    
      .event-profile {
        height: auto;
        width: auto;
        gap: 10px;
      }
  
      .profile-image {
        width: 80px;
        height: 80px;
      }
      .banner-image {
        background-size: cover;
        background-position: center;
        width: 100%;
        position: relative;
        display: block;
        max-width: 100%;
        height: auto;
      }
   .profile-image-and-name{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: flex-start;
    align-items: flex-start;
   }
    }

    @media screen and (min-width: 0px) and (max-width: 615px) {
   

    .profile-date-location{
      display: none;
    }
    .profile-image {
      width: 120px;
      height: 120px;
    }
    .profile-image-and-name{
    
      flex-direction: row;
      gap: 12px;
    
     }
    }

    @media screen and (min-width: 0px) and (max-width: 450px) {
   

      .profile-date-location{
        display: none;
      }
      .profile-image {
        width: 80px;
        height: 80px;
      }
      .profile-image-and-name{
      
        flex-direction: row;
        gap: 12px;
      
       }
      }
  


 