.navbar {
    /* background-color: rgb(132, 132, 132); */
    padding: 14px 0px;
    border-bottom: 1px solid var(--gray-100, #F2F4F7);
    background: var(--gray-900, #101828);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    
}
.mobile-view-navbar{
    transition: height 0.3s ease-in-out; /* Add smooth transition */
    overflow: hidden;
    height: 0px; 
}
.mobile-view-navbar.expanded {
    height: 300px;
   position: absolute;
 z-index: 100;
   top: 0;
   left: 0;
   width: 100%;
   border-bottom: 1px solid var(--gray-100, #F2F4F7);
   background: var(--gray-900, #101828);
  
  }
  .mobile-navbar-close{
    color: black;
    position: absolute;
  }
.navbar-more-btn{
    display: none;
    /* background-color: #9b9b9b; */
    
}
.logo-search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    /* background-color: rgb(101, 101, 101); */
   width: 30%;
}

.navitems-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(121, 121, 121); */
}

.empty-space{
    width: 20%;
    /* background-color: rgb(255, 182, 182); */
}

.search-bar{
    background: var(--White, #FFF);
    width: 100%;
    display: flex;
    padding: 8px 12px;
    align-items: center;
    justify-content: flex-start;
    line-height: 20px;
    gap: 12px;
    color: var(--gray-400, #98A2B3);
    border-radius: 69px;
}

.search-input-field{
    background-color: transparent;
    color: black;
    border-color: transparent;
    border: none;
    outline: none;
   width: 100%;
}

.login-button {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--purple-500, #7A5AF8);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: white;
    cursor: pointer;
}

.help-center{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.arrow-down {
    margin-top: 6px;
    margin-left: 4px;
}



ul {
  
    top:50%; 
    left:50%; 
    width:60px; 
    height:20px; 
    list-style:none; 
    margin-top:-10px; 
    margin-left:-30px;  
    cursor:pointer;
  }
  
  li {
    float:left; 
    background:#ccc; 
    width:5px; 
    height:5px; 
    margin-right:10px; 
    border-radius:10px;}
  
  ul:hover .circle1 {
    animation: fadeIn 700ms ease-in-out 0s 1 forwards;
    -webkit-animation: fadeIn 700ms ease-in-out 0s 1 forwards;
    -moz-animation: fadeIn 700ms ease-in-out 0s 1 forwards;
  }
  
  ul:hover .circle2 {
    animation: fadeIn 700ms ease-in-out 200ms 1 forwards;
    -webkit-animation: fadeIn 700ms ease-in-out 200ms 1 forwards;
    -moz-animation: fadeIn 700ms ease-in-out 200ms 1 forwards;
  }
  
  ul:hover .circle3 {
    animation: fadeIn 700ms ease-in-out 400ms 1 forwards;
    -webkit-animation: fadeIn 700ms ease-in-out 400ms 1 forwards;
    -moz-animation: fadeIn 700ms ease-in-out 400ms 1 forwards;
  }
  
  @-webkit-keyframes fadeIn {
    0%    { -webkit-transform: translateY(0);}
    25%   { -webkit-transform: translateY(-180%);}
    50%   { -webkit-transform: translateY(180%);}
    100%  { -webkit-transform: translateY(0);}
  }
  @-moz-keyframes fadeIn {
    0%    { -moz-transform: translateY(0);}
    25%   { -moz-transform: translateY(-180%);}
    50%   { -moz-transform: translateY(180%);}
    100%  { -moz-transform: translateY(0);}
  }
  @keyframes fadeIn {
    0%    { transform: translateY(0);}
    25%   { transform: translateY(-180%);}
    50%   { transform: translateY(180%);}
    100%  { transform: translateY(0);}
  }

  /* EXPANDED NAVBAR */
  .expanded-navbar{
    padding: 24px 24px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
.mob-navbar-close-btn{
  display: flex;
  justify-content: flex-end;
}
.mob-nav-option{
  font-size: 20px;
  cursor: pointer;
}
.mob-login-btn{
  background: var(--purple-500, #7A5AF8);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: white;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  line-height: 32px;
  cursor: pointer;
}





@media screen and (min-width: 1070px) and (max-width: 1280px) {
    .empty-space{
        width: 10%;
        background-color: rgb(255, 182, 182);
    }
  }
  @media screen and (min-width: 960px) and (max-width: 1070px) {
    .empty-space{
        width: 5%;
        background-color: rgb(255, 182, 182);
    }
  }
  @media screen and (min-width: 900px) and (max-width: 960px) {
    .empty-space{
        width: 0%;
        background-color: rgb(255, 182, 182);
    }
  }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .empty-space{
        width: 0%;
        background-color: rgb(255, 182, 182);
    }
    .list-your-event,.offers,.help-center{
        display: none;
    }
    .logo-search-box {
       width: 50%;
    }
    .navbar-more-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: 50px;
    }
    .login-button{
        display: none;
    }
  }
  @media screen and (min-width: 100px) and (max-width: 600px) {
    .empty-space{
        width: 0%;
        background-color: rgb(255, 182, 182);
    }
    .list-your-event,.offers,.help-center{
        display: none;
    }
    .logo-search-box {
       width: 50%;
    }
    .navbar-more-btn{
        display: flex;
        margin-top: 20px;
        margin-left: 50px;
    }
    .login-button{
        display: none;
    }
  }
  @media screen and (min-width: 50px) and (max-width: 500px) {
    .logo-search-box {
        width: 70%;
     }
     .navbar-more-btn{
        display: flex;
    }
    .login-button{
        display: none;
    }
  }